{% extends "index.html" %} 
{% load static %}
{% load bootstrap5 %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/details.css' %}">
{% endblock style %}
{% block content%}
{% include 'nav.html' with form=form btn_name=btn_name link=link %}
<h2 class="mt-4">Details</h2>
{% if details %}
<div class="mb-4 d-flex justify-content-center">
    <div class="details-content">
        <div class="details-header">
            <h3>{{ details.article.title }}</h3>
        </div>
        <article class="detail-article-content">
            <p class="synopsis">{{ details.article.synopsis }}</p>
            <p class="content">{{ details.article.content }}</p>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <p>{{ details.article.created|date:"d M Y" }}</p>
                <p><b>{{ details.article.author.username }}</b></p>
            </div>
        </article>
    </div>
</div>
{% endif %}
{% endblock content %}