{% extends "index.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/tables.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
{% endblock style%}
{% block content %}
{% include 'nav.html' with form=form btn_name=btn_name link=link %}
<div class="article-content">
    <h2>Publications</h2>
    {% if articles is None %}
        <div class="article-error">
            <p>No data found...</p>
        </div>
    {% else %}
        <table class="article-table-content">
            {% if '/en/' in request.path %}
                <thead class="border-bottom">
                    <th>Title</th>
                    <th>Synopsis</th>
                    <th>Created</th>
                    <th></th>
                </thead>
            {% elif '/fr/' in request.path %}
                <thead class="border-bottom">
                    <th>Titre</th>
                    <th>Synopsis</th>
                    <th>Créé le</th>
                    <th></th>
                </thead>
            {% endif %}
            {% for article in articles %}
                {% if article.author.username == request.user.username %}
                    <tbody class="border-bottom">
                        <td><a href="{% url 'article' article.id %}">{{ article.title }}</a></td>
                        <td>{{ article.synopsis }}</td>
                        <td>{{ article.created|date:"d M Y" }}</td>
                        <td>
                            <form method="post" action="{% url 'publication' %}">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value="{{ article.id }}">
                                {% if article.id in publication %}
                                    <button type="submit" name="action" value="remove" class="rounded-circle border-0 bg-warning">
                                        <span class="material-symbols-outlined m-2 text-white">
                                            close
                                        </span>
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock content %}
