{% extends "index.html" %}
{% load static %}
{% load bootstrap5 %}
{% block style %}<link rel="stylesheet" href="{% static 'styles/form.css' %}">{% endblock style %}
{% bootstrap_css %}
{% block content%}
{% include 'head.html' %}
{% include 'nav.html' %}
    <h2 class="text-center pt-4 text-white">{{ title }}</h2>
    <div class="d-flex justify-content-center p-4 rounded w-auto">
        <form id="register-form" class="w-50" action="{% url action %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input id="fetch-register" type="submit" class="btn btn-light rounded" value="{{ title }}">
        </form>
    </div>
{% endblock content%}
{% block script %}
<script>
    const form = document.getElementById('register-form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        });
        const data = await response.json();
        if (response.ok)
            window.location.href = data.redirect_url;
        else 
            console.log(data.errors);
    });
</script>
{% endblock script%}