* {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
}

th {
    text-align: center;
}

table  {
    display: table-column;
    justify-items: center;
}

td {
    width: 40px;
    height: 80px;
    padding: 1em;
    text-align: center;
}