{% extends "index.html" %}
{% load static %}
{% load custom_filter %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/tables.css' %}"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,favorite" />
{% endblock style%}
{% block content %}
{% include 'nav.html' with form=form btn_name=btn_name link=link %}
<div class="article-content">
    <h2>Articles</h2>
    {% if articles is not None %}
        <table class="article-table-content">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Synopsis</th>
                <th>Author</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </thead>
            {% for article in articles %}
            <tbody>
                <td style="text-align: center;">{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis|truncatechars:"20" }}</td>
                <td style="text-align: center;">{{ article.author.username }}</td>
                <td>{{ article.created|date:"d M Y" }}</td>
                <td>
                    {% if article.created|article_release_from == 0 %}
                        today
                    {% else %}
                        {{ article.created|article_release_from }} day(s)
                    {% endif %}
                </td>
                {% if article.author_id != request.user.id  and request.user.is_authenticated  %}
                    <td>
                        <form method="post" action="{% url 'articles' %}">
                            {% csrf_token %}
                            <input type="hidden" name="article_id" value="{{ article.id }}">
                            {% if article.id in favorites %}
                                <button type="submit" name="action" value="remove" class="rounded-circle border-0 bg-warning">
                                    <span class="material-symbols-outlined m-2 text-white">
                                        close
                                    </span>
                                </button>
                            {% else %}
                                <button type="submit" name="action" value="add" class="rounded-circle border-0 bg-danger">
                                    <span class="material-symbols-outlined m-2 text-white">
                                        favorite
                                    </span>
                                </button>
                            {% endif %}
                        </form>
                    </td>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <div class="article-error">
            <p>No data found...</p>
        </div>
    {% endif %}
</div>
{% endblock content %}
