body {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;

}

table {
    border-collapse: collapse;
    margin: 1rem;
    border: solid 2px
}

td, th{
    border: 1px solid;
    padding: 1rem;
}