{% extends "index.html" %} 
{% load static %}
{% load bootstrap5 %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/details.css' %}">
{% endblock style %}
{% block content%}
<h2>Details</h2>
{% if details %}
{% for detail in details %}
<div class="details-content">
    <article class="detail-article-content">
        <h3><a style="color: black;" href="{{ detail.id }}">{{ detail.title }}</a></h3>
        <div style="width: 100%; background: linear-gradient(-30deg, #0e65a0, #7983db); height: 5px; margin-bottom: 1rem;"></div>
        <p class="synopsis">{{ detail.synopsis }}</p>
        <p class="content">{{ detail.content }}</p>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <p>{{ detail.created }}</p>
            <p><b>{{ detail.author.username }}</b></p>
        </div>
    </article>
</div>
{% endfor %}
{% endif %}
{% endblock content %}