{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <title>Life Pro Tips</title>
        {% bootstrap_css %}
        {% block style %}{% endblock style %}
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
            * {
                margin: 0;
            }
            body, html {
                font-family: 'Montserrat';  
                background: linear-gradient(-30deg, #0e65a0, #7983db);
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: #ededed;
            }
        </style>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="h-100 mx-5">
            {% block content %}{% endblock content %}
            {% comment %}{% if user.is_authenticated %}
                <h2 class="text-center mt-4 text-white">Tips shared !</h2>
                <div class="d-flex justify-content-center p-4 rounded w-auto">
                    <form class="w-50" action="{% url 'tip' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-light rounded" value="Share">
                    </form>
                </div>
                {% endif %}
                {% for tip in tips %}
                <div class="d-flex justify-content-center m-4 position-relative">
                    <div class="card w-50">
                        <div class="card-body">
                            <h3 class="text-center card-title font-weight-bold">💡 Tip !</h3>
                            <div class='line'></div>
                            <p class="fs-5 card-text pt-2">{{ tip.content }}</p>
                            <p class="fw-light text-end card-text pt-2">Share by <b>{{ tip.author.username }}</b></p>
                            <div class='line'></div>
                            <div class="d-flex justify-content-around mt-4">
                                <div class="d-flex flex-column align-items-center">
                                    <p>👍 {{ tip.upvoted.count }}</p>
                                    {% if user.is_authenticated and  user.username != tip.author.username %}
                                    <form action="{% url 'upvoted_tip' tip.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">
                                            <img src="{% static 'images/arrow_up.svg' %}" alt="upvoted">
                                        </button>
                                    {% endif %}
                                    </form>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <p>👎 {{ tip.downvoted.count }}</p>
                                    {% if user.is_authenticated and user.username != tip.author.username and user.reputation >= 15 %}
                                    <form action="{% url 'downvoted_tip' tip.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">
                                            <img src="{% static 'images/arrow_down.svg' %}" alt="downvoted">
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            {% if user.is_authenticated and user.is_admin == True or tip.author.username == user.username or user.reputation >= 30 %}
                                <form action="{% url 'delete_tip' tip.id %}" method="post" class="m-5">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning position-absolute end-0 bottom-0 m-2">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>{% endcomment %}
    </body>
    {% bootstrap_javascript %}
</html>