    <!-- ex03/array.html -->
{% extends 'ex03/base.html' %}
{% block style %}{% endblock style %}
{% block title %}
<title>Ex03: Fifty shades of bic</title>
{% endblock title %}
{% block content %}
<h1 style="text-align: center;">Mugiwara</h1>
<div class="content">
    <table style="color: white;">
        <thead>
            <tr>
                <th style=" background-color: rgb(0, 0, 0);">Name</th>
                <th style=" background-color: rgb(180, 0, 0);">Firstname</th>
                <th style=" background-color: rgb(0, 180, 0);">Devil fruit</th>
                <th style=" background-color: rgb(0, 0, 180);">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for key, member in data.items %}
            <tr>
                <td style=" background-color: rgb({{forloop.counter}}, {{forloop.counter}}, {{forloop.counter}});">{{ member.0 }}</td>  <!-- Last Name -->
                <td style=" background-color: rgb(180, {{forloop.counter}}, {{forloop.counter}});">{{ member.1 }}</td>  <!-- First Name -->
                <td style=" background-color: rgb({{forloop.counter}}, 180, {{forloop.counter}});">{{ member.3 }}</td>  <!-- Devil Fruit -->
                <td style=" background-color: rgb({{forloop.counter}}, {{forloop.counter}}, 180);">{{ member.2 }}</td>  <!-- Role -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}