{% load cache %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/nav.css' %}">
<nav class="nav">
    <div class="mx-auto align-items-center">
        <div class="d-flex justify-content-evenly m-2">
            <a class="mx-5" href={% url 'home' %}>Articles</a>
            {% if not request.user.is_authenticated %}
                <a class="mx-5" href={% url 'login' %}>Sign in</a>
            {% endif %}
        </div>
    </div>
    <p id="username" class="position-absolute end-0 m-2">
        {% if request.user.is_authenticated %}
            {{ request.user.username }}
        {% endif %}
    </p>
</nav>