{% load cache %}
{% load static %}
{% load custom_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block style %}<link rel="stylesheet" href="{% static 'styles/nav.css' %}">{% endblock style %}
<nav class="navbar mt-4 d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="m-3 d-flex justify-content-end align-items-end">
            {% if not user.is_authenticated %}
                <a class="mx-5" href="{% url 'register' %}">Register</a>
            {% endif %}
            <div class="position-relative position-absolute end-0 top-0 mt-3 mx-5">
            {% if user.is_authenticated %}
                <div class="d-inline-flex">
                    <p id="username" class="m-2 mx-4 text-light">
                        Logged as {% get_user_username request %}
                    </p>
                    <a class="m-2 text-light" href="{% url 'logout' %}">Log out</a>
                </div>  
                {% else %}
                <div class="d-inline-flex">
                    <a class="m-2" href="{% url 'login' %}">Log in</a>
                </div> 
            {% endif %}
            </div>
        </div>
    </div>
</nav>